services:
  - type: web
    name: laravel-resume-app
    env: php
    plan: free
    buildCommand: |
      php -v
      php -d memory_limit=-1 $(which composer) clear-cache
      php -d memory_limit=-1 $(which composer) install --no-dev --optimize-autoloader
      php artisan key:generate
    startCommand: php artisan serve --host=0.0.0.0 --port=$PORT
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_KEY
        generateValue: true
      - key: DB_CONNECTION
        value: pgsql
      - key: SESSION_DRIVER
        value: database
      - key: CACHE_DRIVER
        value: database
      - key: PHP_VERSION
        value: 8.2

databases:
  - name: laravel-db
    databaseName: laravel_resume
    user: laravel_user
